.cr-combined-order-book {
  height: 100%;
  position: relative;
}
.cr-combined-order-book .cr-table {
  table-layout: fixed;
}
.cr-combined-order-book .cr-table td, .cr-combined-order-book .cr-table th {
  width: 33%;
}
.cr-combined-order-book .cr-table-background__row {
  height: 24px;
}
.cr-combined-order-book--data-loading {
  background: transparent;
  display: block;
}
.cr-combined-order-book__market {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-bottom: 5px;
}
.cr-combined-order-book__market span {
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;
  text-align: center;
}
.cr-combined-order-book__market span:first-child {
  font-size: 28px;
  font-weight: bold;
  line-height: normal;
}
.cr-combined-order-book__market-negative {
  color: var(--asks);
}
.cr-combined-order-book__market-positive {
  color: var(--bids);
}
.cr-combined-order-book .cr-order-book td {
  color: var(--order-book-table-text-color);
}
.cr-combined-order-book__large {
  display: flex;
  overflow: unset;
}
.cr-combined-order-book__large-market {
  bottom: 0;
  left: 0;
  position: sticky;
  right: 0;
  z-index: 25;
}
.cr-combined-order-book__large .cr-order-book {
  padding-right: 1px;
  width: 50%;
}
.cr-combined-order-book__large .cr-table-background {
  top: 22px;
}
.cr-combined-order-book__large .cr-table-background__row {
  margin-bottom: 1px;
  padding-bottom: calc(var(--gap) * 2.5);
}
.cr-combined-order-book__small .cr-table-background__row {
  margin-bottom: 1px;
  padding-bottom: calc(var(--gap) * 2.5);
}
.cr-combined-order-book__small .cr-order-book {
  height: 154px;
  overflow-y: scroll;
}
.cr-combined-order-book__small .cr-order-book:first-child {
  border-bottom: 1px solid var(--order-book-last-market-price-border-color);
  height: 208px;
}
.cr-combined-order-book__small .cr-order-book:first-child .cr-table-background {
  top: 60px;
}
.cr-combined-order-book__small .cr-order-book:last-child {
  border-top: 1px solid var(--order-book-last-market-price-border-color);
}
.cr-combined-order-book__small .cr-order-book:last-child .cr-table-background {
  top: 0;
}
.cr-combined-order-book__small .cr-order-book th {
  position: sticky;
  top: 0;
  z-index: 2222;
}

.cr-combined-order-book__large .cr-order-book:nth-child(1) {
  padding-left: 10px!important;
  padding-right: 2px!important;
}

.cr-combined-order-book__large .cr-order-book:nth-child(2) {
  padding-right: 10px!important;
  padding-left: 2px!important;
}