.cr-order-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--gap) * 2);
  width: 100%;
}
.cr-order-item .error-message {
  align-items: center;
  background: var(--system-red);
  border-radius: 2px;
  color: var(--primary-text-color);
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 0;
  margin-top: 68px;
  opacity: 0;
  padding: 0 14px;
  position: fixed;
  transition: 0.2s;
  user-select: none;
  width: calc(100% - var(--gap) * 5);
  z-index: 10;
}
.cr-order-item .error-message--visible {
  height: 24px;
  margin-top: 80px;
  opacity: 1;
}
.cr-order-item .cr-dropdown, .cr-order-item .cr-order-input, .cr-order-item__percentage-buttons, .cr-order-item__total, .cr-order-item__available, .cr-order-item__fee {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cr-order-item .dropdown-toggle {
  font-size: calc(var(--gap) * 2);
  height: calc(var(--gap) * 7);
  padding-left: calc(var(--gap) * 2);
  text-align: left;
}
.cr-order-item__dropdown__label {
  background-color: inherit;
  margin-left: calc(var(--gap) * 2);
  padding: 0 calc(var(--gap) * 0.5);
  position: absolute;
  top: calc(var(--gap) * -1.3);
  z-index: 1;
}
.cr-order-item--compact {
  align-items: flex-start;
  flex-direction: column;
}
.cr-order-item__label {
  color: var(--input-legend-color);
  font-size: var(--font-size);
  font-weight: 200;
  line-height: calc(var(--font-size) * 2);
}
.cr-order-item__total__label, .cr-order-item__available__label, .cr-order-item__fee__label {
  text-align: left;
}
.cr-order-item__total__content, .cr-order-item__available__content, .cr-order-item__fee__content {
  text-align: right;
}
.cr-order-item__total__content__currency, .cr-order-item__available__content__currency, .cr-order-item__fee__content__currency {
  margin-left: var(--gap);
}
.cr-order-item .cr-order-input__fieldset__input {
  color: var(--input-text-color);
}
.cr-order-item .cr-order-input__fieldset__input__price {
  font-size: calc(var(--gap) * 1.75);
}
.cr-order-item .cr-order-input__input .cr-order-input__price {
  background: transparent !important;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 20px;
  margin-top: 5px;
}
.cr-order-item__prices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cr-order-item__prices > * {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
.cr-order-item__prices .bids {
  color: var(--bids);
}
.cr-order-item__prices .asks {
  color: var(--asks);
}
.cr-order-item .cr-price-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cr-order-item .cr-price-inputs__trigger {
  margin-bottom: 6px;
}
