:root {
  --bids: #58bd7d;
  --asks: #ff6838;
  --primary-text-color: #e3e6eb;
  --main-text-color: #e3e6eb;
  --bd-color: #5b446d;
  --border-light: #2d313d;
  --green-color: #58bd7d;
  --red-color: #c93505;
  --text-light-color: #747474;
  --main-background-color: rgb(11, 14, 17);
  --body-background-color: #1c2333;
  --ion-text-color: #e3e6eb;
  --text-very-light-color: #848999;
  --icon-primary: #cf6fe0;
  --yellow-color: #d69f1c;
  --background-red-transparent: #1c0d0d;
  --background-green-transparent: #162b2a;
}
